<section class="content wh700" style="min-height: 550px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <h2><b>{{'profile.ChangePassword' | translate}}</b>&nbsp;</h2>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card border-0 shadow">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="card-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <h4 class="fs-20 fw-bold"></h4>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-12 col-md-6 col-lg-12">
                    <div class="form-group mb-3">
                      <label>{{'profile.CurrentPassword' | translate}}</label>
                      <input
                        [type]="fieldTextType ? 'text' : 'password'"
                        type="currentpwd"
                        placeholder="{{'profile.EnterCurrentPassword' | translate}}"
                        id="currentpwd"
                        #currentpwd
                        class="form-control"
                        formControlName="currentpwd"
                        [ngClass]="{ 'form-submitted': submitted }"
                      />
                      <i
                        [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }"
                        (click)="toggleFieldTextType()"
                        class="fas fa-eye-slash"
                        id="eye"
                      ></i>
                    </div>
                    <span
                      *ngIf="
                        submitted ||
                        (f.currentpwd.errors &&
                          (f.currentpwd.dirty || f.currentpwd.touched))
                      "
                    >
                      <label
                        class="text-danger"
                        *ngIf="
                          changePasswordForm
                            .get('currentpwd')
                            .hasError('required')
                        "
                      >
                        {{'profile.Passwordisrequired!' | translate}}
                      </label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row mt-4">
                  <div class="col-12 col-md-6 col-lg-12">
                    <div class="form-group mb-3">
                      <label>{{'profile.NewPassword' | translate}}</label>
                      <input
                        [type]="fieldTextTypess ? 'text' : 'password'"
                        type="password"
                        placeholder="{{'profile.EnterNewPassword' | translate}}"
                        id="password"
                        #password
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                        class="form-control"
                        formControlName="password"
                        [ngClass]="{ 'form-submitted': submitted }"
                      />

                         <i
                        [ngClass]="{
                          'fa-eye-slash': !fieldTextTypess,
                          'fa-eye': fieldTextTypess
                        }"
                        (click)="toggleFieldTextTypess()"
                        class="fas fa-eye-slash"
                        id="eye"
                      ></i>
                    </div>
                    <span
                      *ngIf="
                        submitted ||
                        (f.password.errors &&
                          (f.password.dirty || f.password.touched))
                      "
                    >
                      <label
                        class="text-danger"
                        *ngIf="
                          changePasswordForm
                            .get('password')
                            .hasError('required')
                        "
                      >
                        {{'profile.Passwordisrequired!' | translate}}
                      </label>
                      <label
                        class="text-danger"
                        *ngIf="
                          changePasswordForm.get('password').hasError('pattern')
                        "
                      >
                        {{'profile.Password' | translate}}
                      </label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row mt-4">
                  <div class="col-12 col-md-6 col-lg-12">
                    <div class="form-group mb-3">
                      <label>{{'profile.ConfirmPassword' | translate}}</label>
                      <input
                      [type]="fieldTextTypesss ? 'text' : 'password'"
                        class="form-control"
                        id="confirmPassword"
                        formControlName="confirmPassword"
                        placeholder="{{'profile.EnterConfirmPassword' | translate}}"
                        #confirmPassword
                        (keyup)="
                          checkMatch(password.value, confirmPassword.value)
                        "
                      />
                      <i
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextTypesss,
                        'fa-eye': fieldTextTypesss
                      }"
                      (click)="toggleFieldTextTypesss()"
                      class="fas fa-eye-slash"
                      id="eye"
                    ></i>
                    </div>
                    <div
                      *ngIf="!this.passwordMatched && confirmPassword.value != ''"
                      class="text-danger"
                    >
                      {{'profile.Passwordnotmatched' | translate}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card-footer border-0 bg-transparent"
              style="margin-left: 1rem"
            >
              <button
                class="btn btn-primary graident btn-small custom-button"
                [disabled]="changePasswordForm.invalid || !passwordMatched"
                type="submit"
              >
                {{'profile.ChangePassword' | translate}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
