.active {
  background-color: #fff;
  color: #0a0a0a;
}
.inactive {
  background-color: white;
  color: grey;
}
.custom-button {
  height: 45px;
  width: 250px;
}

#eye {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 20px;
  font-size: 14px;
}

label {
  margin-bottom: 10px;
}

button,
.buttons,
.btn,
.modal-footer .btn + .btn {
  margin-bottom: 1px;

  margin-right: 0px;
}
