<div class="container-fluid p-0" name="otpVerify" *ngIf="isMail">
  <div class="row">
    <div
      class="col-lg-6 col-12 fxt-bg-img"
      data-bg-image="assets/DS/img/loginImg.png"
      style="background-image: url('assets/DS/img/loginImg.png')"
    ></div>
    <div class="col-lg-6 col-12 fxt-bg-color">
      <div class="fxt-content">
        <div class="pg-logo">
          <img
            src="assets/DS/img/logo-horizontal.png"
            alt="logo"
            style="height: 50px; width: 178px"
          />
        </div>
        <div class="fxt-form mt-5">
          <h2>{{'login.VerifyOTP' | translate}}</h2>
          <form [formGroup]="verifyOTPForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="fxt-transformY-50 fxt-transition-delay-3">
                <div class="input-container">
                  <i class="fa-solid fa-lock icon"></i>
                  <input
                    class="input-field"
                    type="email"
                    placeholder="{{'login.EnteryourOTP' | translate}}"
                    formControlName="otp"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="log-in-btn-wrap">
                <input
                  type="submit"
                  class="btn-login btn-sm btn-primary btn-block"
                  value="{{'login.Verify' | translate}}"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-0" name="update" *ngIf="!isMail">
  <div class="row">
    <div
      class="col-lg-6 col-12 fxt-bg-img"
      data-bg-image="assets/DS/img/loginImg.png"
      style="background-image: url('assets/DS/img/loginImg.png')"
    ></div>
    <div class="col-lg-6 col-12 fxt-bg-color">
      <div class="fxt-content">
        <div class="pg-logo">
          <img
            src="assets/DS/img/logo-horizontal.png"
            alt="logo"
            style="height: 50px; width: 178px"
          />
        </div>
        <div class="fxt-form mt-5">
          <h2>{{'login.ForgotPassword' | translate}}</h2>
          <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>{{'login.Email' | translate}} : </label>
              <div class="fxt-transformY-50 fxt-transition-delay-3">
                <div class="input-container">
                  <i class="fa-solid fa-user icon"></i>
                  <input
                    type="email"
                    class="input-field"
                    placeholder="{{'login.Enteryouremail' | translate}}"
                    formControlName="email"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    [ngClass]="{ 'form-submitted': submitted }"
                  />
                </div>
                <span
                  *ngIf="
                    submitted ||
                    (f.email.errors && (f.email.dirty || f.email.touched))
                  "
                >
                  <label
                    class="text-danger"
                    *ngIf="forgetPasswordForm.get('email').hasError('required')"
                  >
                    {{'login.Emailisrequired!' | translate}}
                  </label>
                  <label
                    class="text-danger"
                    *ngIf="forgetPasswordForm.get('email').hasError('pattern')"
                  >
                    {{'login.Enteravalidemailaddress!' | translate}}
                  </label>
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="log-in-btn-wrap">
                <input
                  type="submit"
                  [disabled]="forgetPasswordForm.invalid"
                  class="btn-login btn-sm btn-primary btn-block"
                  value="{{'login.SendEmail' | translate}}"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
