.care-path-right-icon a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 86, 219);
  width: 30px;
  height: 30px;
  color: white;

  border-radius: 50%;
  /* border-radius: 50%; */
}

.care-path-right-icon a:hover {
  background-color: rgb(37, 96, 235);
}

button,
.buttons,
.btn,
.modal-footer .btn + .btn {
  margin-bottom: 1px;
  min-height: 37px;
  margin-right: 0px;
}

:host ::ng-deep .ngx-pagination {
  margin-left: -47px !important;
}
