/* You can add global styles to this file, and also import other style files */
.wh700{
    min-height:650px;
}

.wh500{
    min-height:600px;
}
/* .breadcrumb{
    margin-left: 6rem;
} */

/* .card-body{
    padding:10rem;
  } */